python-dotenv   # Load environment variables from .env

boto3==1.35.99           # AWS SDK for Python (S3)
boto3-stubs[essential]==1.35.99
firebase-admin  # Firebase Admin SDK for Python (FireStore)

Flask           # Web framework
pillow          # Image processing
